.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #242424;
}

/* NavBar */

.navBar {
  background-color: rgb(18, 18, 18);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 60px;
}

.buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navBarButton {
  background-color: rgb(245, 197, 24);
  color: rgb(0, 0, 0);
  font: 27px Impact, sans-serif;
  text-decoration: unset;
  padding: 5px 15px;
  margin: 0 10px;
}

/* Home Page */

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.homeForm {
  font-size: 20px;
  color: white;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid white;
  padding: 20px;
}

.inputTitle {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputYear {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.homeForm input {
  font-size: 16px;
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
}

.submitButton {
  background-color: #f4511e;
  border: 0.5px solid rgb(97, 76, 76);
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.submitButton:hover {
  opacity: 1;
}

.attentionRule {
  font-size: 14px;
  color: rgb(245, 197, 24);
  margin-top: 5px;
}

/* Movies Recommandations on the Home Page */

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin-right: 20px;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(72, 72, 72, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(178, 178, 178);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(245, 197, 24);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Buttons on the Stats Page */

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.backToSearch {
  background-color: #f4511e;
  border: 0.5px solid rgb(97, 76, 76);
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  margin-right: 520px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.backToSearch:hover {
  opacity: 1;
}

.addToFav {
  background-color: #f4511e;
  border: 0.5px solid rgb(97, 76, 76);
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.addToFav:hover {
  opacity: 1;
}

/* Searched Movie Stats */

.myimg {
  max-width: 100%;
  height: 400px;
  /* border: 2px solid #363434; */
  border: 2px solid white;
}
.movieTitle {
  text-decoration: underline;
  text-decoration-color: rgb(245, 197, 24);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.movieCategTag {
  color: rgb(245, 197, 24);
}

.searchedMovieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.posterTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.movieDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 600px;
}

.movieCategColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.movieCategGroup {
  margin-bottom: 20px;
}

.ErrorNotFound {
  color: white;
  position: fixed;
  top: 40%;
  left: 23%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
  font-size: 65px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Watchlist Page */

.watchlistTitle {
  color: white;
  font-size: 60px;
}

.watchlistMovies {
  margin: 20px;
  display: inline-block;
  color: white;
  /* border: 2px solid #363434; */
  border: 2px solid white;
}

.deleteButton {
  background-color: #f4511e;
  border: 0.5px solid rgb(97, 76, 76);
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.deleteButton:hover {
  opacity: 1;
}

/* History Page */

.historyTitle {
  color: white;
  font-size: 60px;
}
